.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
    height: 18rem;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}

.card-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sec-1 > img{
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card-sec-1 > h5{
    margin: 0 2px;
    font-size: 0.7rem;
    text-align: center;
}
